
.project-nav {

    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        width: 202px;

        li {
            vertical-align: middle;
        }

        button {
            width: 100px;
            height: 30px;
            border-radius: 0px;
            cursor: pointer;
            border: none;
            font-size: 0.8em;
            background: linear-gradient(to bottom, #888 0%, #CCC 100%);
            color: #333;
        }

        button.active {
            background: linear-gradient(to bottom, #035096 0%, #2C75FF 100%);
            color: #EEE;
            cursor: default;
            pointer-events: none;
        }

        button:hover {
            background: linear-gradient(to bottom, #035096 0%, #2C75FF 100%);
            color: #EEE;
        }

        button:focus {
            outline: none;
            text-decoration: underline;
        }

        button.active:focus, button:active {
            text-decoration: none;
        }

        li:nth-child(1) {
            button {
                margin-right: 1px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }

        li:nth-child(2) {
            button {
                margin-left: 1px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
    }

}
