html, body {
    padding: 0px;
    margin: 0px;
    background-color: #333;
    color: #DDD;
    height: 100%;
    font: 1em "Helvetica Neue", Helvetica, sans-serif;
}

section {
    position: relative;
    height: 100%;
}

nav {
    height: 60px;
    background: #222;
    background: linear-gradient(to bottom, #222 0%, #333 100%);
    font-size: 1.4em;

    ul {
        margin: 0px;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 1024px;
        list-style: none;

        li {
            float: left;
            vertical-align: middle;
            margin-right: 20px;
            line-height: 60px;

            a {
                color: #DDD;
                text-decoration: none;
            }

            a:hover, a.current {
                color: #FFF;
            }

            a.current {
                cursor: default;
            }
        }
    }
}


header {
    height: 360px;
    padding-top: 50px;
    background: #035096;
    background: linear-gradient(to bottom, #035096 0%, #2C75FF 100%);
    color: #EEE;
    text-align: center;
    font: 3em "Helvetica Neue", Helvetica, sans-serif;

    p {
        margin-top: 0px;
        margin-bottom: 20px;
    }
}

footer {
    height: 50px;
    width: 100%;
    background: #222;
    background: linear-gradient(to bottom, #222 0%, #333 100%);
    color: #777;

    p {
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 1024px;

        i {
            float: right;
            font-style: normal;
        }
    }
}

div#content {
    min-height: 90%;
}

article {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;

    section {
        margin: 30px;
        padding: 20px;
        font-size: 1.1em;
        background: #282828;
        background: linear-gradient(to bottom, #222 0%, #282828 100%);

        h2 {
            font: 1.5em "Helvetica Neue", Helvetica, sans-serif;
            margin-top: 0px;

            a {
                color: inherit;
            }

            a:hover {
                color: inherit;
            }
        }

        a {
            color: #2370B6;
            text-decoration: none;
        }

        a:hover {
            color: #2C75FF;
        }
    }
}

div#profile {
    float: left;
    margin-right: 20px;

    img {
        border-radius: 50%;
        margin: 0px;
        padding: 0px;
        display: block;
    }

}
