html, body 
{
	padding: 0px;
	margin: 0px;
	background-color: #333;
	color: #DDD;
	height: 100%;
	font: 1em "Helvetica Neue", Helvetica, sans-serif;
}

section
{	
	position: relative;
	min-height: 100%;
}

nav
{
	height: 60px;
	background: #222;
	background: linear-gradient(to bottom, #222 0%, #333 100%);
	font-size: 1.2em;

	ul
	{
		margin: 0px;
		padding: 0px;
		margin-left: auto;
		margin-right: auto;
		width: 1024px;
		list-style: none;

		li
		{
			float: left;
			vertical-align: middle;
			margin-right: 20px;
			line-height: 60px;

			a
			{
				color: #DDD;
				text-decoration: none;	
			}

			a:hover, a.current
			{
				color: #FFF;
			}

			a.current
			{
				cursor: default;
			}
		}
	}
}


header
{
	height: 200px;
	background: #035096;
	background: linear-gradient(to bottom, #035096 0%, #2C75FF 100%);
	color: #EEE;
	text-align: center;
	font: 3em "Helvetica Neue", Helvetica, sans-serif;

	p
	{
		margin-top: 0px;
		margin-bottom: 20px;
	}
}

header.home
{
	padding-top: 50px;
	height: 350px;	
}

footer
{
	position: absolute;
	height: 100px;
	width: 100%;
	background: #222;
	background: linear-gradient(to bottom, #222 0%, #333 100%);	
	bottom: 0px;
	color: #555;

	p 
	{
		margin-left: auto;
		margin-right: auto;
		width: 1024px;
	}
}

article
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	padding-bottom: 120px;

	h1
	{
		font-size: 2em;
	}

	a
	{
		color: #2370B6;
		text-decoration: none;	
	}

	a:hover
	{
		color: #2C75FF;
	}
}


ul.github
{
	margin: 0px;
	padding: 0px;
	width: 100%;
	list-style: none;

	li
	{
		padding: 10px;
		margin: 0px;
		margin-bottom: 10px;
		background: #222;
		background: linear-gradient(to bottom, #222 0%, #333 200%);	
	}

	p
	{
		margin: 0px;	
	}

	h2
	{
		margin-top: 0px;
	}

	img
	{
		float: right;
	}
}